<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinates finder</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="container">
        <h1>Coordinates finder</h1>
        <h3>Please upload your CSV file with adresses.</h3>
        <h3>Addresses must be in a column <i>adress</i> or <i>Address</i></h3>
        <h3>And get it back with <i>Latitude</i> and <i>Longitude</i> for Your addresses.</h3>
        <form action="{{ url_for('success') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file_name" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>