<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinates finder</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>
    <div class="container">
        <h1>Coordinates finder</h1>
        <div class="dataframe">
            {{ data_frame | safe }}
        </div>
        <a href={{ url_for('file_download') }} target="_blank"><button class="btn">Download</button></a>
        <a href={{ url_for('index') }} class="go_back" ><button>Another file</button></a>

    </div>
</body>
</html>